.sidebar {
    width: 265px;
    min-height: 450px;
    background-color: #222;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(515px + 60px);
    overflow-y: scroll;
    position: relative;
}

.sidebar h1 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

@media (max-width:768px) {
    .sidebar, .hideFavorites {
        width: 335px;
    }
    
}